In [0]:
inserts, update , delete: change data capture 

merge into : avoid duplicates 

upsert: UPdate inSERT

In [0]:
data=([(1,'Sachin','Mumbai','Insert'),(2,'Virat','Delhi','Insert')])
schema="id int, name string, city string, operation string"
df=spark.createDataFrame(data,schema)
df.createOrReplaceTempView("source")

In [0]:
data=([(3,'Dhoni','Chennai','Insert'),(2,'Virat','Banglore','Update'),(1,'Sachin','Mumbai','Delete')])
schema="id int, name string, city string, operation string"
df=spark.createDataFrame(data,schema)
df.createOrReplaceTempView("source")

In [0]:
data=([(5,'Rohit','Mumabi'),(2,'Virat','Banglore')])
schema="no string, name string, city string"
df=spark.createDataFrame(data,schema)
df.createOrReplaceTempView("source")

In [0]:
%sql
select * from source

In [0]:
%sql
create table auto.naval_silver.emp (id int, name string, city string)

In [0]:
%sql
MERGE INTO auto.naval_silver.emp t
USING source s
ON t.id = s.id
WHEN MATCHED AND s.operation='Delete'
then delete
WHEN MATCHED THEN
  UPDATE SET
    t.id = s.id,
    t.name = s.name,
    t.city = s.city
WHEN NOT MATCHED
  THEN INSERT (
    id,
    name,
    city
  )
  VALUES (
   s.id,
   s.name,
   s.city
  )

In [0]:
%sql
select * from auto.naval_silver.emp

In [0]:
data=([(5,'Rohit','Mumabi'),(2,'Virat','Banglore')])
schema="no string, name string, city string"
df=spark.createDataFrame(data,schema)
#df.createOrReplaceTempView("source")

In [0]:
df.write.mode("overwrite").saveAsTable("auto.naval_silver.emp")